<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/main.css}" type="text/css">
    <title>Company</title>
</head>
<body class="homepage">
    <h1>A Company</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita placeat veritatis! Nisi itaque esse earum at velit, 
        natus, atque quaerat laborum temporibus, quos ipsum rem explicabo! Voluptatum, nihil animi? Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Dicta est nihil totam exercitationem dolor at fugiat fugit magni debitis, sequi illo in! Blanditiis debitis recusandae veniam laudantium ipsum alias 
        repellat? </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Quisque pellentesque tellus non mi iaculis ornare. In ac ex id magna mollis vehicula.
         Aenean placerat turpis a dignissim eleifend. Sed vel pellentesque mi. Aliquam urna eros,
          efficitur semper vulputate condimentum, facilisis id augue. Vestibulum lobortis facilisis 
          lacus id porttitor. Mauris quis mauris quis lacus convallis porta a et felis. Phasellus 
          venenatis ipsum ut dignissim egestas. Integer eu ligula aliquam, semper mauris sit amet, 
          consequat dolor. Vestibulum fermentum tortor a rutrum eleifend. Quisque bibendum orci vel
           imperdiet sollicitudin. Quisque in felis arcu. Sed sagittis ultricies purus, id rhoncus leo cursus sit amet. 
           Pellentesque ullamcorper, lectus placerat hendrerit euismod, erat dolor maximus tortor, in posuere velit erat a libero.</p>      
        <a class="homepage-btn" th:href="@{/jobs}">We're hiring!</a>
        
</body>
</html>